@{
    ViewData["Title"] = "Revision Permisos";
}

<div class="text-center">
    <h1 class="display-4">Sin Accesos al sitio web</h1>
    <p> Conctactar al Administrador del sistema para que revise su usuario.</p>
    <!-- Añade un ícono de Bootstrap -->
    <i class="bi bi-exclamation-triangle-fill"></i>
</div>

<!-- Muestra el mensaje en una alerta de Bootstrap -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡Atención!</strong> No tienes acceso al sitio web. Por favor, contacta al administrador del sistema para que revise tu usuario.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>