
@model EnfermedadesModel

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="card">
    <div class="card-header">
        Eliminar Enfermedad
    </div>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Enfermedades" method="post">

            <input asp-for="Id" type="hidden" class="form-control" id="exampleInputEmail1">


            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div>
                    Desea Eliminar este: @Html.DisplayTextFor(m => m.Id)?
                </div>
            </div>

            <button type="submit" class="btn btn-danger">
                <i class="bi bi-floppy-fill"></i> Eliminar
            </button>
            <a asp-action="Listar" asp-controller="Enfermedades" class="btn btn-warning">
                <i class="bi bi-arrow-left-circle-fill"></i> Volver a la lista
            </a>
        </form>

    </div>
</div>